<wx-self data-visitor="visitor" data-ng-if="bar == 'verbose'"></wx-self>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-6 wrapper-sm" data-ng-repeat="user in r.results">
            <div class="bg-white lter r r-3x">
                <div class="font-bold wrapper-xs" style="padding-top: 10px;">
                    {{ ( user.username ) ? user.username : 'Untitled' }}
                </div>
                <div class="group-xs group-md">
                    <div class="hbox">
                        <div class="col v-middle wrapper-xs">
                            <div class="pre-img">

                                <img data-ng-if="user.thumb" class="img-center r r-3x b b-light" style="width: 100%;" data-ng-src="{{ user.thumb }}" alt="{{ user.username }}">

                                <div data-ng-if="!user.thumb" class="text-center purple-50 r r-3x b b-light empty-cover-xs empty-cover-md">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-if="enough">
        <div class="col-md-12 col-xs-12">
            <p class="text-center"><img class="inverted-logo" data-ng-src="{{ THEME }}images/logo_circle_48.png"></p>
        </div>
    </div>
</div>