<div class="container">
    <div class="m-t-md"></div>
    <div class="pinGridWrapper" data-ng-if="r">
        <div class="pinGrid">
            <div class="pin" data-ng-repeat="photo in r.results">
                <a data-ng-href="#!/photo/{{ photo.id }}">
                    <img data-ng-src="{{ photo.thumb }}" alt="{{ photo.title }}">
                </a>
                <h2>{{ ( photo.title ) ? photo.title : 'Untitled' }}</h2>
                <p>{{ photo.create_date | date : 'longDate': '+0800'}}
                    <span class="pull-right text-muted">by <i class="fa fa-user">&nbsp;{{ photo.owner.username }}</i></span></p>
                <ul class="list-inline text-muted text-center small">
                    <li><i class="fa fa-comments"></i> {{ photo.comment_count }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center m-t">
        <p>
            <button data-ng-disabled="enough" data-ng-click="get_more()"
                    class="btn btn-lg btn-primary">Load more
            </button>
        </p>
        <ul class="pagination m-t">
            <li><a data-ng-href="{{ page_link }}page=1">&lt;&lt;</a></li>
            <li><a data-ng-if="r.previous_page"
                   data-ng-href="{{ page_link }}page={{ r.previous_page }}">
                &lt;</a></li>
            <li data-ng-repeat="i in prev_pages"><a
                    data-ng-href="{{ page_link }}page={{ i }}">{{ i }}</a></li>
            <li class="active"><a href="#">{{ r.current }}</a></li>
            <li data-ng-repeat="i in next_pages"><a
                    data-ng-href="{{ page_link }}page={{ i }}">{{ i }}</a></li>
            <li><a data-ng-if="r.next_page"
                   data-ng-href="{{ page_link }}page={{ r.next_page }}">&gt;</a>
            </li>
            <li><a data-ng-href="{{ page_link }}page={{ r.total }}">&gt;&gt;</a>
            </li>
        </ul>
    </div>
</div>
