<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span>
        <span class="sr-only">{{ 'NAVBAR.MODAL.CLOSE' | translate }}</span></button>
    <h3 class="modal-title">{{ 'NAVBAR.MODAL.TITLE' | translate }}</h3>
</div>
<form class="form-horizontal" data-ng-submit="authenticate(username, password)">
    <div class="modal-body">
            <p class="text-danger">{{ error }}</p>
            <table class="table">
                <tr>
                    <td><input type="text" data-ng-model="username" class="form-control"
                               placeholder="{{ 'NAVBAR.MODAL.USERNAME' | translate }}"></td>
                </tr>
                <tr>
                    <td><input type="password" data-ng-model="password" class="form-control"
                               placeholder="{{ 'NAVBAR.MODAL.PASSWORD' | translate }}"></td>
                </tr>
                <tr>
                    <td><a href="/auth/password/reset/">{{ 'NAVBAR.MODAL.FORGOT' | translate }}</a></td>
                </tr>
            </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i>
            {{ 'NAVBAR.MODAL.ENTER' | translate }}</button>
    </div>
</form>
