<nav class="navbar navbar-fixed-top purple-400" data-ng-class="{ 'navbar-shrink': change_class }">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed m-n"
                    data-ng-init="isCollapsed = true"
                    data-ng-click="isCollapsed = !isCollapsed"
                    aria-expanded="false">
                <span class="sr-only">{{ 'NAVBAR.TOGGLE_NAV' | translate }}</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#!/"><img style="min-height:40px;"
                src="{{ THEME }}images/logo_circle_48.png"
                alt="{{ brand_text }}"></a>
        </div>
        <div class="collapse navbar-collapse" data-uib-collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li data-uib-dropdown data-is-open="status.isopen" data-ng-if="visitor_resolved">
                    <a href id="login" class="dropdown-toggle"
                       role="button" data-uib-dropdown-toggle data-ng-disabled="disabled">
                        {{ 'NAVBAR.LOGGED' | translate: visitor }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="login">
                        <li role="menuitem">
                            <a><i class="fa fa-user"></i> {{'NAVBAR.PROFILE' | translate }}</a>
                        </li>
                        <li role="menuitem">
                            <a data-ng-if="visitor.store" data-ng-href="#!/stores/my/">{{'NAVBAR.STORE' | translate }}</a>
                            <a data-ng-if="!visitor.store" data-ng-href="#!/stores/create/">{{'NAVBAR.STORE' | translate }}</a>
                        </li>
                        <li><a>{{'NAVBAR.CHANGE_PASSWORD' | translate }}</a></li>
                        <li class="divider"></li>
                        <li role="menuitem">
                            <a data-ng-click="logout()" data-ng-href="#!/">
                                <i class="fa fa-sign-out"></i>
                                {{'NAVBAR.LOGOUT' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li data-uib-dropdown data-is-open="status.isopen" data-ng-if="!visitor_resolved">
                    <a href id="sign" class="dropdown-toggle"
                       role="button" data--uib-dropdown-toggle data-ng-disabled="disabled">{{'NAVBAR.SIGN' | translate }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="sign">
                        <li role="menuitem">
                            <a data-ng-click="open()"><i class="fa fa-sign-in"></i> {{'NAVBAR.SIGN_IN' | translate }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>