<div class="app-header navbar">
    <!-- navbar header -->
<div class="navbar-header {{app.navbarHeaderColor}}">
    <button type="button" class="navbar-toggle collapsed pull-right visible-xs dk"
            data-ng-init="isCollapsed = false"
            data-ng-click="isCollapsed = !isCollapsed"
            aria-expanded="false">
        <i class="fa fa-cog"></i>
    </button>
    <button type="button" class="navbar-toggle collapsed pull-right visible-xs dk"
            data-ng-click="app.hideAside = !app.hideAside"
            aria-expanded="false">
        <i class="fa fa-bars"></i>
    </button>
    <!-- brand -->
    <a class="navbar-brand text-lt" href="#!/"><img style="max-height: 35px;"
            src="{{ THEME }}images/logo_circle_48.png"
            alt="{{ brand_text }}"></a>
    <!-- / brand -->
</div>
<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.navbarCollapseColor }}" data-uib-collapse="!isCollapsed">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn"
           data-ng-click="app.asideFolded = !app.asideFolded">
            <i class="fa {{ asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
    </div>
    <!-- / buttons -->
    <!-- search form -->
    <form class="navbar-form navbar-form-sm navbar-left" role="search">
        <div class="form-group">
            <div class="input-group">
                <input type="text" data-ng-keypress="search($event)" data-ng-model="p.q"
                       class="form-control input-sm bg-light no-border rounded padder" >
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded" data-ng-click="search_c()">
                    <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </div>
    </form>
    <!-- / search form -->

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
          <li data-uib-dropdown data-is-open="status.isopen" data-ng-if="visitor_resolved" class="dropdown">
            <a role="button" data-uib-dropdown-toggle data-ng-disabled="disabled"
               href id="id_notification" class="dropdown-toggle">
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">!</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span id="id_nf_num">{{ notifications.length }}</span> notification(s)</strong>
                </div>
                <div class="list-group" id="id_nf_group" style="max-height:400px; overflow-y: auto;">
                  <a href class="list-group-item" ng-repeat="item in notifications">
                    <span class="clear block m-b-none">
                      {{ item.message }}<br>
                      <small class="text-muted">{{ item.time }}</small>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </li>

        <li data-uib-dropdown data-is-open="status.isopen" data-ng-if="visitor_resolved" class="dropdown">
            <a role="button" data-uib-dropdown-toggle data-ng-disabled="disabled"
               href id="login" class="dropdown-toggle">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img data-ng-src="{{ visitor.thumb }}" alt="{{ visitor.brand_name }}">
                <i class="on md b-white bottom"></i>
              </span>
                <span class="hidden-sm hidden-md">{{ visitor.brand_name }}</span> <b
                    class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li role="menuitem">
                    <a><i class="fa fa-user"></i> {{'NAVBAR.PROFILE' | translate }}</a>
                </li>
                <li role="menuitem">
                    <a data-ng-if="visitor.store" data-ng-href="#!/stores/my/">{{'NAVBAR.STORE' | translate }}</a>
                    <a data-ng-if="!visitor.store" data-ng-href="#!/stores/create/">{{'NAVBAR.STORE' | translate }}</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem">
                    <a data-ng-click="logout()" data-ng-href="#!/">
                        <i class="fa fa-sign-out"></i>
                        {{'NAVBAR.LOGOUT' | translate }}
                    </a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <ul data-ng-if="!visitor_resolved" class="nav navbar-nav navbar-right">
        <li data-uib-dropdown data-is-open="status.isopen">
            <a href id="sign" class="dropdown-toggle"
               role="button" data--uib-dropdown-toggle data-ng-disabled="disabled">{{'NAVBAR.SIGN' | translate }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="sign">
                <li role="menuitem">
                    <a data-ng-click="open()"><i class="fa fa-sign-in"></i> {{'NAVBAR.SIGN_IN' | translate }}</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / navbar right -->
</div>
<!-- / navbar collapse -->

</div>