<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Contacts</div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item" data-ng-repeat="item in qb.contacts">
        {{ item.user.full_name }}
        <span class="pull-right" data-ng-click="qb.unsubscribe_user(item.user)">
            <i class="fa fa-times-circle text-danger fa-lg" aria-hidden="true"></i>
        </span>
        <span class="pull-right" data-ng-click="qb.dialogs.create_private(item.user.id)">
            <i class="fa fa-comment text-info fa-lg" aria-hidden="true"></i>
        </span>
    </li>
  </ul>
</div>
