<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Contacts</div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="item in qb.storage.contacts">
            {{ item.user.custom_data ? item.user.custom_data : item.user.full_name }}
            <ul class="pull-right list-inline">
                <li>
                    <span data-ng-click="qb.dialogs.create_private(item.user.id)">
                        <i class="fa fa-comment text-info fa-lg" aria-hidden="true"></i>
                    </span>
                </li>
                <li>
                    <span data-ng-click="qb.roster.unsubscribe_user(item.user)">
                        <i class="fa fa-times-circle text-danger fa-lg" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</div>
