<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Incoming subscriptions</div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="item in qb.storage.i_subscribers">
            {{ item.user.custom_data ? item.user.custom_data : item.user.full_name }}
            <ul class="pull-right list-inline">
                <li>
                    <span data-ng-click="qb.roster.confirm_user(item.user)">
                        <i class="fa fa-check-circle text-success fa-lg" aria-hidden="true"></i>
                    </span>
                </li>
                <li>
                    <span data-ng-click="qb.roster.reject_user(item.user)">
                        <i class="fa fa-times-circle text-danger fa-lg" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</div>
