<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Pending subscribers</div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="user in qb.storage.subscribers">
            {{ user.full_name }}
            <ul class="pull-right list-inline">
                <li>
                    <span data-ng-click="qb.roster.confirm_user(user)">
                        <i class="fa fa-check-circle text-success fa-lg" aria-hidden="true"></i>
                    </span>
                </li>
                <li>
                    <span data-ng-click="qb.roster.reject_user(user)">
                        <i class="fa fa-times-circle text-danger fa-lg" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</div>
