<div class="navbar navbar-fixed-bottom ng-scope">
    <div class="row ng-scope">
        <div class="col-sm-12">
            <div class="w-xl w-auto-xs center-block">
                <div class="btn-group btn-group-justified text-center text-sm">
                    <div class="btn-group">
                        <a class="wrapper-xs block" data-ng-href="#!/photo/newest">
                            <!--<i class="block fa fa-eye fa-lg m-b-xs"></i>-->
                            <!--<img class="logo" data-ng-src="{{ THEME }}svg/discovery-white.svg" src="{{ THEME }}svg/discovery-white.svg" height="28px" width="28px">-->
                            <img class="logo" data-ng-src="{{ THEME }}svg/discovery-grey.svg" height="22px" width="28px">
                            <!-- <span class="text-xs">{{ 'FOOTER.DISCOVERY' | translate }}</span> -->
                        </a>
                    </div>
                    <div class="btn-group">
                        <!-- <a class="wrapper-xs block" data-ng-href="#!/group/create"> -->
                        <a class="wrapper-xs block" data-ng-href="#!/my_groups">

                            <img class="logo" data-ng-src="{{ THEME }}svg/wardrobes-grey.svg" height="28px" width="28px">
                            <!-- <i class="block fa fa-plus-circle fa-lg m-b-xs"></i>-->
                            <!--<span class="text-xs">{{ 'FOOTER.ADD_GROUP' | translate }}</span> -->
                        </a>
                    </div>

                    <div class="btn-group">
                        <a class="wrapper-xs block" data-ng-href="#!/group/create">

                            <img class="logo" data-ng-src="/static/theme/images/logo_circle_48_pink.png" height="42px">
                        </a>
                    </div>

                    <div class="btn-group">
                        <a class="wrapper-xs block" data-ng-href="#!/notifications">
                            <!-- <i class="block fa fa-heart fa-lg m-b-xs"></i> -->
                            <img class="logo" data-ng-src="{{ THEME }}svg/activity-grey.svg" width="28px" height="28px">
                            <!-- <span class="text-xs">{{ 'FOOTER.LIKED' | translate }}</span> -->
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="wrapper-xs block" data-ng-href="#!/me">
                            <!--<i class="block fa fa-user fa-lg m-b-xs" aria-hidden="true"></i>-->
                            <img class="logo" data-ng-src="{{ THEME }}svg/profile-grey.svg" width="28px" height="28px">
                            <!-- <span class="text-xs">{{ 'FOOTER.ME' | translate }}</span> -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 hidden-xs">

        </div>
    </div>
</div>
