<div class="panel panel default" style="background-color: white;" aria-hidden="true" role="presentation">
    <div class="row wrapper-md">
        <div class="col-md-5 col-xs-5">
            <h2 class="pull-right pull-none-xs font-bold m">{{ visitor.username }}</h2>
        </div>
        <div class="col-md-7 col-xs-7">
            <span class="pull-right"><img class="img-circle img-responsive w-xs" data-ng-src="{{ visitor.thumb }}"
                                        alt="{{ visitor.username }}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="pull-left-xs text-center">
                <a href="" class="m-l inline m-sm">
                    <span class="h2 block font-bold">{{ visitor.group_count }}</span>
                    <small>Groups</small>
                </a>
                <a href="" class="m-l inline m-sm">
                    <span class="h2 block font-bold">{{ visitor.photo_count }}</span>
                    <small>Photos</small>
                </a>
            </div>
        </div>
    </div>
</div>