<div class="container">
    <div class="wrapper-md">
        <form data-ng-submit="update()" name="form" id="group_form" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading font-bold">{{ 'ARTICLE.CREATE.HEADER' | translate }}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.TITLE' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="title"
                                   data-ng-model="data.title"
                                   class="form-control rounded" required="">
                            <p class="text-danger"
                               data-ng-repeat="e in error.title">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.DESCRIPTION' | translate }}</label>
                        <div class="col-sm-10">
                            <textarea required ng-model="data.description" data-ck-editor></textarea>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div>
                        <div class="m-t-md"></div>
                        <div class="pinGridWrapper" data-ng-if="r">
                            <div class="pinGrid"
                                 data-masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile", "percentPosition": "true"}'>
                                <div class="pin animate tile" data-masonry-tile data-ng-repeat="photo in r.results">
                                    <input type="checkbox" data-checklist-value="photo" data-checklist-model="data.photos">
                                    <a data-ng-href="#!/photo/{{ photo.id }}">
                                        <img data-ng-if="!photo.original && photo.thumb" data-ng-src="{{ photo.thumb }}" alt="{{ photo.title }}" class="img-pin">
                                        <img data-ng-if="photo.original && !photo.thumb" data-ng-src="{{ photo.origin.thumb }}" alt="{{ photo.title }}" class="img-pin">
                                        <img data-ng-if="photo.original && !photo.thumb && !photo.origin" data-ng-src="{{ photo.cover }}" alt="{{ photo.title }}" class="img-pin">
                                        <div data-ng-if="!photo.original && !photo.thumb">
                                            <div class="text-center purple-50 r r-3x b b-light empty-cover-xs empty-cover-md"></div>
                                        </div>
                                    </a>
                                    <p class="b-b b-light font-bold" data-ng-if="photo.title">{{ photo.title }}</p>
                                    <p class="b-b b-light font-bold" data-ng-if="!photo.title && photo.origin.title">{{ photo.origin.title }}</p>
                                    <p class="b-b b-light" data-ng-if="photo.descr"> {{ photo.descr }}</p>
                                    <p class="b-b b-light" data-ng-if="!photo.descr && photo.origin.descr"> {{ photo.descr.descr }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-ng-if="enough">
                            <div class="col-md-12 col-xs-12">
                                <p class="text-center"><img class="inverted-logo" data-ng-src="{{ THEME }}images/logo_circle_48.png"></p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <button class="btn btn-danger" type="button" data-ng-click="remove_article()">{{ 'FORM.DELETE' | translate }}</button>
                        </div>                    
                        <div class="col-md-12 col-xs-12">
                            <div class="pull-right">
                            <button type="submit" class="btn btn-primary">{{ 'FORM.SUBMIT' | translate }}
                            </button>
                            <a data-ng-href="#!/article" class="btn btn-default">{{ 'FORM.CANCEL' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


