<div class="container">
    <div class="wrapper-md" data-ng-if="commodity">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-center">
                    <a class="btn btn-info" data-ng-href="#!/stores/my/commodities/"><i class="fa fa-arrow-left fa-2x"></i></a>
                    <button class="btn btn-danger" data-ng-click="remove_commodity()"><i class="fa fa-times fa-2x"></i></button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                {{'COMMODITY.UPDATE.HEADER' | translate }}
            </div>
            <div class="panel-body">
                <h2>{{'COMMODITY.UPDATE.PHOTO_HEADER' | translate }}</h2>
                <ul class="list-inline">
                    <li class="wrapper-xs" data-ng-repeat="photo in photo_list">
                        <img class="img-responsive img-thumbnail" data-ng-src="{{ photo.crop }}">
                        <div class="text-danger text-center" data-ng-click="remove_photo(photo)"><i class="fa fa-times"></i></div>
                    </li>
                </ul>
                <div data-ng-if="free_photo_list.length > 0">
                    <h3>{{'COMMODITY.UPDATE.PHOTO_ADD' | translate }}</h3>
                    <form data-ng-submit="add_photo()" name="photoForm" id="photo_form">
                        <input type="hidden" name="commodity" value="{{ commodity.id }}">
                        <ul class="list-unstyled">
                            <li class="wrapper-xs" data-ng-repeat="item in free_photo_list">
                                <input class="file" type="file" name="photo_{{ $index }}">
                            </li>
                        </ul>
                        <p>
                            <button data-ng-disabled="wait" type="submit" class="btn btn-primary">{{ 'FORM.SUBMIT' | translate }}
                                </button>
                        </p>
                    </form>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <h2>{{'COMMODITY.UPDATE.DATA_HEADER' | translate }}</h2>
                <form data-ng-submit="update()" name="form" id="commodity_form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.TITLE' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="title" data-ng-model="commodity.title"
                                   class="form-control rounded">
                            <p class="text-danger"
                               data-ng-repeat="e in error.title">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.CATEGORY' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control rounded" data-ng-model="commodity.category" >
                                <option data-ng-repeat="item in category_list" data-ng-selected="item.id == commodity.category"
                                        data-ng-value="{{ item.id }}">{{ item.title }}</option>
                                <option value="">{{ 'COMMODITY.FORM.EMPTY' | translate }}</option>
                            </select>
                            <p class="text-danger"
                               data-ng-repeat="e in error.category">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.KIND' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control rounded" data-ng-model="commodity.kind">
                                <option data-ng-repeat="item in kind_list" data-ng-selected="item.id == commodity.kind"
                                        data-ng-value="{{ item.id }}">{{ item.title }}</option>
                                <option value="">{{ 'COMMODITY.FORM.EMPTY' | translate }}</option>
                            </select>
                            <p class="text-danger"
                               data-ng-repeat="e in error.kind">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.BRAND' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control rounded" data-ng-model="commodity.brand" required>
                                <option data-ng-repeat="item in brand_list" data-ng-selected="item.id == commodity.brand"
                                        data-ng-value="{{ item.id }}">{{ item.title }}</option>
                                <option value="">{{ 'COMMODITY.FORM.EMPTY' | translate }}</option>
                            </select>
                            <p class="text-danger"
                               data-ng-repeat="e in error.brand">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.SIZE' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control rounded" data-ng-model="commodity.size" required>
                                <option data-ng-repeat="item in size_list" data-ng-value="item.id"
                                        data-ng-selected="item.id == commodity.size">{{ item.title }}</option>
                            </select>
                            <p class="text-danger"
                               data-ng-repeat="e in error.size">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.SEASON' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control rounded" data-ng-model="commodity.season">
                                <option data-ng-repeat="item in season_list" data-ng-value="item.id"
                                        data-ng-selected="item.id == commodity.season">{{ item.title }}</option>
                            </select>
                            <p class="text-danger"
                               data-ng-repeat="e in error.season">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.YEAR' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="number" name="year" min="2000" max="2016" data-ng-model="commodity.year"
                                   class="form-control rounded">
                            <p class="text-danger"
                               data-ng-repeat="e in error.year">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.COLOR' | translate }}</label>
                        <div class="col-sm-10">
                            <select name="color" class="form-control rounded" data-ng-model="commodity.color">
                                    <option style="background-color: {{ item.html }}" data-ng-selected="item.id == commodity.color"
                                            data-ng-repeat="item in color_list" data-ng-value="{{ item.id }}">
                                        {{ item.title }}</option>
                                    <option value="">{{ 'COMMODITY.FORM.EMPTY' | translate }}</option>
                            </select>
                            <p class="text-danger"
                               data-ng-repeat="e in error.color">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <p>{{ 'COMMODITY.CREATE.NO_COLOR' | translate }}</p>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'COMMODITY.FORM.EXTRA_COLOR' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="color" name="color_extra" data-ng-model="commodity.color_extra">
                            <p class="text-danger"
                               data-ng-repeat="e in error.color_extra">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button data-ng-disabled="wait" type="submit" class="btn btn-primary">{{ 'FORM.SUBMIT' | translate }}
                            </button>
                            <a data-ng-href="#!/"
                               class="btn btn-default">{{ 'FORM.CANCEL' | translate }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row screensaver" data-ng-class="{'visible': wait}">
        <div class="col-md-12 col-xs-12 wrapper-lg">
            <div class="hbox">
                <div class="col v-middle text-center text-primary">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <p class="h4 wrapper-xs">{{ 'FORM.WAIT' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>