<div data-ng-if="group" class="panel panel default" style="background-color: white;" aria-hidden="true" role="presentation">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-normal h1" align="center">{{ group.title }}</h1>
    </div>
    <div class="row wrapper-xs">
        <div class="col-md-7 col-xs-7">
            <div class="pull-left thumb-sm avatar b-3x m-r"><img class="img-circle img-responsive w-2x" data-ng-src="{{ visitor.thumb }}"
                                        alt="{{ visitor.username }}">
            </div>
            <div class="clearfix">
                <div class="h3 m-t-xs m-b-xs">{{ visitor.username }}</div>
            </div>
        </div>
        <div class="col-md-5 col-xs-5" data-ng-if="can_edit">
            <div class="pull-right clearfix">
                <a class="btn m-t-xs w-xs btn-info btn-rounded" data-ng-href="#!group/{{ group.id }}/manage">EDIT</a>
            </div>
        </div>
    </div>
</div>
<div class="container" data-ng-if="group">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p class="text-center">
                <a class="btn btn-success" data-ng-href="#!group/{{ group.id }}/photo/add">{{ 'GROUP.LIST.UPLOAD' | translate }}</a>
            </p>
        </div>
    </div>
    <div class="row" data-ng-if="group.tags.length > 0">
        <div class="col-md-10 col-md-offset2">
            <hr>
            <h4>{{ 'GROUP.PHOTO_LIST.TAGS' | translate }}:</h4>
            <ul class="list-inline">
                <li data-ng-repeat="tag in group.tags">
                    <span class="label label-default">{{ tag.title }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" data-ng-if="group.members.length > 0">
        <div class="col-md-10 col-md-offset2">
            <hr>
            <h4>{{ 'GROUP.PHOTO_LIST.MEMBERS' | translate }}:</h4>
            <ul class="list-inline">
                <li data-ng-repeat="member in group.members">
                    <span class="label label-default">{{ member.username }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="m-t-md"></div>
    <div class="pinGridWrapper" data-ng-if="r">
        <div class="pinGrid"
             data-masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile", "percentPosition": "true"}'>
            <div class="pin animate tile" data-masonry-tile data-ng-repeat="photo in r.results">
                <a data-ng-href="#!/photo/{{ photo.id }}">
                    <img data-ng-if="!photo.original && photo.thumb" data-ng-src="{{ photo.thumb }}" alt="{{ photo.title }}" class="img-pin">
                    <img data-ng-if="photo.original && !photo.thumb" data-ng-src="{{ photo.origin.thumb }}" alt="{{ photo.title }}" class="img-pin">
                    <div data-ng-if="!photo.original && !photo.thumb">
                        <div class="text-center purple-50 r r-3x b b-light empty-cover-xs empty-cover-md"></div>
                    </div>
                </a>
                <div data-ng-if="photo.original">
                    <div class="m-b-xs wrapper-xs">
                        <span>{{ 'GROUP.PHOTO_LIST.SAVED_FROM' | translate }}</span>
                        <a class="text-danger" data-ng-href="#!/group/{{ photo.origin.group.pk }}/photo">{{ photo.origin.group.title }}</a>
                    </div>
                    <div class="b-b b-light m-b-xs wrapper-xs" style="padding-bottom: 20px;">
                        <a data-ng-href="#!/group/?owner={{ photo.origin.owner.pk }}" class="pull-left thumb-xs avatar m-r">
                          <img data-ng-src="{{ photo.origin.owner.thumb }}" alt="{{ photo.origin.owner.username }}" class="img-circle">
                        </a>
                        <div class="clear">
                          <div>{{ photo.origin.owner.username }}</div>
                        </div>
                    </div>
                </div>
                <p class="b-b b-light font-bold" data-ng-if="photo.title">{{ photo.title }}</p>
                <p class="b-b b-light font-bold" data-ng-if="!photo.title && photo.origin.title">{{ photo.origin.title }}</p>
                <p class="b-b b-light" data-ng-if="photo.descr"> {{ photo.descr }}</p>
                <p class="b-b b-light" data-ng-if="!photo.descr && photo.origin.descr"> {{ photo.descr.descr }}</p>
                <div class="b-b b-light m-b-xs wrapper-xs" style="padding-bottom: 20px;">
                    <a data-ng-href="#!/group/?owner={{ photo.owner.pk }}" class="pull-left thumb-xs avatar m-r">
                      <img data-ng-src="{{ photo.owner.thumb }}" alt="{{ photo.owner.username }}" class="img-circle">
                    </a>
                    <div class="clear">
                      <div>{{ photo.owner.username }}</div>
                    </div>
                </div>
                <div class="m-b-xs wrapper-xs">
                    <span>{{ 'GROUP.PHOTO_LIST.SAVED_TO' | translate }}</span>
                    <a class="text-danger" data-ng-href="#!/group/{{ photo.group }}/photo">{{ photo.group_title }}</a>
                </div>
                <ul class="list-inline text-muted text-center small">
                    <li><i class="fa fa-comments"></i> {{ photo.comment_count }}</li>
                    <li><a data-ng-click="like($index, photo.id)"><i class="fa fa-heart"></i> {{ photo.like_count }}</a></li>
                    <li><i class="fa fa-share-alt"></i> {{ photo.clone_count }}</li>
                    <li data-ng-if="photo.original" class="text-primary"><a data-ng-href="#!/photo/{{ photo.origin.id }}"><i class="fa fa-share"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" data-ng-if="enough">
        <div class="col-md-12 col-xs-12">
            <p class="text-center"><img class="inverted-logo" data-ng-src="{{ THEME }}images/logo_circle_48.png"></p>
        </div>
    </div>
</div>
