<div class="panel panel default" style="background-color: white;" aria-hidden="true" role="presentation">
    <div class="row wrapper-md">
        <div class="col-md-5 col-xs-5">
            <h2 class="pull-right pull-none-xs font-bold m">{{ visitor.username }}</h2>
        </div>
        <div class="col-md-7 col-xs-7">
            <span class="pull-right"><img class="img-circle img-responsive w-xs" data-ng-src="{{ visitor.thumb }}"
                                        alt="{{ visitor.username }}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="pull-left-xs text-center">
                <a href="" class="m-l inline m-sm">
                    <span class="h2 block font-bold">{{ visitor.group_count }}</span>
                    <small>{{ 'SELFIE.GROUPS' | translate }}</small>
                </a>
                <a href="" class="m-l inline m-sm">
                    <span class="h2 block font-bold">{{ visitor.photo_count }}</span>
                    <small>{{ 'SELFIE.PHOTOS' | translate }}</small>
                </a>
                <a href="/#!/group" class="m-l inline m-sm">
                    <span class="h2 block font-bold">A_Groups</span>
                    <small>all public groups</small>
                </a>
                <a href="/#!/follow_groups" class="m-l inline m-sm">
                    <span class="h2 block font-bold">{{visitor.fg_count}}</span>
                    <small>Following groups</small>
                </a>
                <a href="/#!/follow_users" class="m-l inline m-sm">
                    <span class="h2 block font-bold">{{visitor.fu_count}}</span>
                    <small>Following users</small>
                </a>
                <a href="/#!/followers" class="m-l inline m-sm">
                    <span class="h2 block font-bold">{{visitor.fum_count}}</span>
                    <small>Followers</small>
                </a>
                <a href="/#!/article_photos" class="m-l inline m-sm">
                    <span class="h2 block font-bold">Al_Photos</span>
                    <small>all photos with article</small>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <ul class="list-inline">
                <li><a class="btn btn-primary" data-ng-href="#!/me">Me</a></li>
                <li><button data-ng-click="sync_profile()" class="btn btn-primary">
                    <i class="fa fa-refresh"></i> {{ 'NAVBAR.SYNC' | translate }}
                </button></li>
                <li><button data-ng-click="logout()" class="btn btn-primary">
                    <i class="fa fa-sign-out"></i> {{ 'NAVBAR.LOGOUT' | translate }}
                </button></li>
            </ul>
        </div>
    </div>
</div>