<div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-2" data-ng-class="{ hidden: is_owner === false }">
        <form data-ng-submit="update_group()" name="form" id="group_form">
            <table class="table">
                <tr>
                    <th>Title:</th>
                    <td>
                        <input name="title" data-ng-model="data.title" type="text" class="form-control">
                        <p class="text-danger" data-ng-repeat="e in error.title">{{ e }}</p>
                    </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>
                        <textarea name="description" data-ng-model="data.description" class="form-control"></textarea>
                        <p class="text-danger" data-ng-repeat="e in error.description">{{ e }}</p>
                    </td>
                </tr>
                <tr>
                    <th>Private group:</th>
                    <td>
                        <input name="is_private" data-ng-model="data.is_private" type="checkbox">
                        <p class="text-danger" data-ng-repeat="e in error.is_private">{{ e }}</p>
                    </td>
                </tr>
                <tr>
                    <th><a data-ng-href="#!/my_groups" class="btn btn-default">To My Group List</a></th>
                    <td><input class="btn btn-primary" type="submit" value="update"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-md-10 col-md-offset-2" data-ng-class="{ hidden: is_owner === false }">
        <h3 class="text-center">COLLABORATORS</h3>
        <ul class="list-inline">
            <li data-ng-repeat="member in r.members">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm input-sm" disabled><b>{{ member.member_name }}</b></button>
                    <button type="button" class="btn btn-danger btn-sm input-sm" data-ng-click="member_remove(member.id)">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </li>
        </ul>
        <div class="row" data-ng-if="r.members.length == 0">
            <div class="col-md-12 col-xs-12">
                <h4>Group has no members.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <form data-ng-submit="member_add()" name="form" id="member_form">
                    <div class="input-group">
                        <member-list data-member="member" data-placeholder="'Start typing...'"></member-list>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">ADD</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>