<div class="navbar navbar-fixed-bottom bg-light lt b-t ng-scope"><div class="row ng-scope">
  <div class="col-sm-12">
    <div class="w-xl w-auto-xs center-block">
      <div class="btn-group btn-group-justified text-center text-sm">
        <div class="btn-group">
          <a class="wrapper-xs block" data-ng-href="#!/photo/newest">
            <i class="block fa fa-eye fa-lg m-b-xs"></i>
            <span class="text-xs">Discovery</span>
          </a>
        </div>
        <div class="btn-group">
          <a class="wrapper-xs block" data-ng-href="#!/group/create">
            <i class="block fa fa-plus-circle fa-lg m-b-xs"></i>
            <span class="text-xs">Add</span>
          </a>
        </div>
        <div class="btn-group">
          <a class="wrapper-xs block" data-ng-href="#!/photo/liked">
            <i class="block fa fa-heart fa-lg m-b-xs"></i>
            <span class="text-xs">Likes</span>
          </a>
        </div>
        <div class="btn-group">
          <a class="wrapper-xs block" data-ng-href="#!/my_groups">
            <i class="block fa fa-user fa-lg m-b-xs" aria-hidden="true"></i>
            <span class="text-xs">Me</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 hidden-xs">

  </div>
</div>
</div>