<div class="m-t-md"><!--Dummy content--></div>
<div class="pinGridWrapper" data-ng-if="r">

<div class="maso">

    <div class="pinGrid"
         data-masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile", "percentPosition": "true"}'>
        <div class="pin animate tile" data-masonry-tile data-ng-repeat="photo in r.results">
		
		
		<div class="b-b b-light m-b-xs wrapper-xs photo-owner" >
                    <a data-ng-href="#!/group/?owner={{ photo.owner.pk }}" class="pull-left thumb-xs avatar m-r">
                      <img data-ng-src="{{ photo.owner.thumb }}" alt="{{ photo.owner.username }}" class="img-circle">
                    </a>
                    <div class="clear">
                      <div id="photo-o-name">{{ photo.owner.username }}</div>
					  <div class="user-follow-status">
						<i class="icon-user-follow"></i>
						<i class="icon-user-following"></i>
					  </div>
                    </div>



                </div>
		
		
		
		
            <a data-ng-href="#!/photo/{{ photo.id }}">
                <img data-ng-if="!photo.original && photo.thumb" data-ng-src="{{ photo.thumb }}" alt="{{ photo.title }}"
                     class="img-pin">
                <img data-ng-if="photo.original && !photo.thumb" data-ng-src="{{ photo.origin.thumb }}"
                     alt="{{ photo.title }}" class="img-pin">
                <div data-ng-if="!photo.original && !photo.thumb">
                    <div class="text-center purple-50 r r-3x b b-light empty-cover-xs empty-cover-md"></div>
                </div>
            </a>
           
				
				
				
				<div data-ng-if="photo.original">
                   <!-- <div class="m-b-xs wrapper-xs">
                        <span>{{ 'GROUP.PHOTO_LIST.SAVED_FROM' | translate }}</span>
                        <a class="text-danger" data-ng-href="#!/group/{{ photo.origin.group.pk }}/photo">{{ photo.origin.group.title }}</a>
                    </div> -->
                    <div id="photo-origin-owner-section" class="b-b b-light m-b-xs wrapper-xs">
                        <a data-ng-href="#!/group/?owner={{ photo.origin.owner.pk }}" class="pull-left thumb-xs avatar m-r">
                          <img data-ng-src="{{ photo.origin.owner.thumb }}" alt="{{ photo.origin.owner.username }}" id="img-square" class="img-circle">
                        </a>
                        <div class="clear">
                          <div id="photo-origin-owner-username">{{ photo.origin.owner.username }}</div>
						  <div class="user-follow-status">
					  <i class="icon-user-follow"></i>
					  <i class="icon-user-following"></i>
					  </div>
                        </div>
                    </div>
                </div>
				
				
				
				
				
				
				
				<!--
				
				
                <div class="b-b b-light m-b-xs wrapper-xs" style="padding-bottom: 20px;">
                    <a data-ng-href="#!/group/?owner={{ photo.origin.owner.pk }}" class="pull-left thumb-xs avatar m-r">
                        <img data-ng-src="{{ photo.origin.owner.thumb }}" alt="{{ photo.origin.owner.username }}"
                             class="img-circle">
                    </a>
                    <div class="clear">
                        <div>{{ photo.origin.owner.username }}</div>
                    </div>
                </div>
				-->
				
           
            <p class="b-b b-light font-bold" data-ng-if="photo.title">{{ photo.title }}</p>
            <p class="b-b b-light font-bold" data-ng-if="!photo.title && photo.origin.title">{{ photo.origin.title
                }}</p>
            <p class="b-b b-light" data-ng-if="photo.descr"> {{ photo.descr }}</p>
            <p class="b-b b-light" data-ng-if="!photo.descr && photo.origin.descr"> {{ photo.descr.descr }}</p>
            
           <!--<div class="m-b-xs wrapper-xs">
                    <span>{{ 'GROUP.PHOTO_LIST.SAVED_TO' | translate }}</span>
                    <a class="text-danger" data-ng-href="#!/group/{{ photo.group }}/photo">{{ photo.group_title }}</a>
                </div>-->
				<!--Comment-->
                <ul class="list-inline text-muted text-center small">
                    <li><i class="fa fa-floppy-o"></i> {{ photo.comment_count }}</li>
                    <li><a data-ng-click="like($index, photo.id)"><i class="fa fa-heart-o"></i> {{ photo.like_count }}</a></li>
                    <li><i class="fa fa-share-alt"></i> {{ photo.clone_count }}</li>
                </ul>  
        </div>
    </div>
	</div>
</div>
<div class="row" data-ng-if="enough">
    <div class="col-md-12 col-xs-12">
        <p class="text-center"><img class="inverted-logo" data-ng-src="{{ THEME }}images/logo_circle_48.png"></p>
    </div>
</div>
