<div>
    <h2>{{ 'COMMODITY.FORM.STOCKS' | translate }}</h2>
    <table class="table table-condensed table-bordered">
        <tr class="info">
            <th>{{ 'COMMODITY.FORM.COLOR' | translate }}</th>
            <th>{{ 'COMMODITY.FORM.EXTRA_COLOR' | translate }}</th>
            <th>{{ 'COMMODITY.FORM.SIZE' | translate }}</th>
            <th>{{ 'COMMODITY.FORM.AMOUNT' | translate }}</th>
        </tr>
        <tr data-ng-repeat="stock in placeholder_list">
            <td>
                <select class="form-control rounded" data-ng-model="stock.color" data-ng-change="refresh_stock_set()">
                    <option style="background-color: {{ item.html }}" data-ng-repeat="item in color_list" data-ng-value="{{ item.id }}">
                        {{ item.title }}</option>
                    <option value="">{{ 'COMMODITY.FORM.EMPTY' | translate }}</option>
                </select>
            </td>
            <td>

                <input type="color" data-ng-model="stock.extra_color" data-ng-change="refresh_stock_set()">

            </td>
            <td>

                <select class="form-control rounded" data-ng-model="stock.size" required data-ng-change="refresh_stock_set()">
                    <option data-ng-repeat="item in size_list" data-ng-value="{{ item.id }}">
                        {{ item.title }}</option>
                    <option value="">{{ 'COMMODITY.FORM.EMPTY' | translate }}</option>
                </select>

            </td>
            <td>
                <input type="number" class="form-control rounded" data-ng-model="stock.amount" data-ng-change="refresh_stock_set()">
            </td>
        </tr>
        <tr>
            <td colspan="4"><span class="text-primary" data-ng-click="add_stock()"><i class="fa fa-plus"></i>&nbsp;{{ 'COMMODITY.FORM.ANOTHER_STOCK' | translate }}</span></td>
        </tr>
    </table>
</div>
