<div class="header border-btm">
	<div class="container">
		<div class="row">

			<div class="col-xs-10 col-md-10">
				<div class="header-left pull-left">
					<i class="icon-ti ti-angle-left" aria-hidden="true" data-ng-click="back()" role="button" tabindex="0"></i>
					<i class="avatar">
						<a data-ng-href="#!/group/?owner={{ photo.owner.pk }}">
							<img data-ng-src="{{ photo.owner.thumb }}" alt="{{ photo.owner.username }}" data-ng-class="{'img-circle': !photo.owner.is_store}">
						</a>
					</i>
				</div>

				<div class="header-user">
					<a data-ng-href="#!/group/?owner={{ photo.owner.pk }}" class="header-user-owner-name"> {{ photo.owner.username }}</a>
					<a data-ng-href="#!/group/{{ photo.group }}/photo" class="header-user-group-title"> {{ photo.group_title }}</a>
				</div>
			</div>

			<div class="col-xs-2 col-md-2">
				<div class="header-right">
					<span data-ng-if="!photo.owner_followed" data-ng-click="follow_user_main(photo.owner.pk, $index)" class="header-right-follow"><img src="/static/theme/svg/follow.svg" alt=""> <!-- <i class="icon-user-follow"></i> --></span>
					<span data-ng-if="photo.owner_followed" data-ng-click="unfollow_user_main(photo.owner.pk, $index)" class="header-right-follow"><img src="/static/theme/svg/follow-active.svg" alt=""><!-- <i class="icon-user-following"></i> --></span>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="photo">
					<img data-ng-if="!photo.original && photo.photo" class="center-block" data-ng-src="{{ photo.photo }}" alt="{{ photo.title }}">
					<img data-ng-if="photo.origin.photo" class="center-block" data-ng-src="{{ photo.origin.photo }}" alt="{{ photo.origin.title }}">
				</div>
			</div>
		</div>

		<div class="row border-btm">
			<div class="col-xs-8 col-md-9">
				<div class="main-left">
					<div data-ng-if="photo.original">
						<i class="avatar">
							<a data-ng-href="#!/group/?owner={{ photo.origin.owner.pk }}">
								<img data-ng-src="{{ photo.origin.owner.thumb }}" data-ng-class="{'img-circle': !photo.origin.owner.is_store}" alt="{{ photo.origin.owner.username }}">
							</a>
						</i>
						<div class="main-left-header">
							<a data-ng-href="#!/group/?owner={{ photo.origin.owner.pk }}" class="main-left-owner-name"> {{ photo.origin.owner.username }}</a>
							<a data-ng-href="#!/group/{{ photo.origin.group.id }}/photo" class="main-left-uploaded-detail">{{ photo.origin.group.title }}</a>
						</div>
					</div>

					<div data-ng-if="!photo.original">
						<i class="avatar">
							<a data-ng-href="#!/group/?owner={{ photo.owner.pk }}">
								<img data-ng-src="{{ photo.owner.thumb }}" data-ng-class="{'img-circle': !photo.owner.is_store}" alt="{{ photo.owner.username }}">
							</a>
						</i>
						<div class="main-left-header">
							<a data-ng-href="#!/group/?owner={{ photo.owner.pk }}" class="main-left-owner-name"> {{ photo.owner.username }}</a>
							<a data-ng-href="#!/group/{{ photo.group }}/photo" class="main-left-uploaded-detail">{{ photo.group_title }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-md-3">
				<div class="main-right">
					<span><a data-ng-href="#!/photo/{{ photo.id }}/share/"><i class="fa fa-floppy-o"></i></a></span>
					<span data-ng-if="photo.is_liked" data-ng-click="dislike_photo()"><i class="glyphicon glyphicon-heart"></i></span>
					<span data-ng-if="!photo.is_liked" data-ng-click="like_photo()"><i class="glyphicon glyphicon-heart" style="color: gray;"></i></span>
					<span><i class="icon-share"></i></span>
					<span data-ng-click="read_article(photo.article.pk)" data-ng-if="photo.article" class="btn btn-default btn-sm" style="margin-left:10px; margin-top:-3px;"><b>Read it</b></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-11">
				<h4 data-ng-if="photo.title" class="main-photo-title">{{ photo.title }} </h4>
				<h4 data-ng-if="!photo.title && photo.article.title" class="main-photo-title">{{ photo.article.title }}</h4>
				<h4 data-ng-if="!photo.title && !photo.article.title && photo.origin.title" class="main-photo-title">{{ photo.origin.title }}</h4>
			</div>
			<div class="com-md-1">
				<a data-ng-if="is_owner" data-ng-href="#!/photo/{{ photo.id }}/edit/"><i class="icon-pencil"></i></a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div>
					<p class="main-photo-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at molestie tortor. Quisque nec justo sed elit ultrices convallis sed a purus. Nunc euismod risus metus, id consectetur orci efficitur id. Phasellus lobortis non augue et hendrerit. Curabitur eu luctus lorem, in maximus sapien. Nulla sodales mi id blandit malesuada. Mauris felis arcu, sollicitudin at dictum id, dapibus nec massa. Mauris scelerisque placerat augue, et mollis lacus blandit non.</p>
				</div>
				<div data-ng-if="photo.description">
					<p class="main-photo-description">{{ photo.description }}</p>
				</div>
				<div data-ng-if="!photo.description && photo.article.descr">
					<p class="main-photo-description" ng-bind-html="photo.article.descr"></p>
				</div>
				<div data-ng-if="!photo.description && !photo.article.descr && photo.origin.description">
					<p class="main-photo-description">{{ photo.origin.description }}</p>
				</div>
			</div>
		</div>
		<hr>
		<div class="row"> <!-- what is this the block? -->
			<h4 class="text-center" data-ng-if="photo.link_set.length > 0">{{ 'PHOTO.EDIT.LINKS' | translate }}</h4>
			<div class="col-md-4" data-ng-repeat="link in photo.link_set">
				<div class="media">
					<div class="media-left">
						<img class="media-object" style="width: 50px;" data-ng-src="{{ link.data.crop }}" alt="{{ link.data.title }}">
					</div>
					<div class="media-body">
						<h4 class="media-heading"><a data-ng-href="#!/commodities/{{ link.commodity }}/">{{ link.data.title }}</a></h4>
						<ul class="list-inline">
							<li>{{ 'COMMODITY.FORM.COLOR' | translate }}</li>
							<li data-ng-repeat="item in link.data.colors track by item.id">
								<span style="border: 3px solid {{ item.html }}">
									{{ item.title }}</span>
							</li>
						</ul>
						<p>{{ 'COMMODITY.FORM.KIND' | translate }}:
							<span class="text-info">{{ link.data.kind.title }}</span></p>
					</div>
				</div>
			</div>
		</div>

		<div data-ng-if="photo.is_store === false && !photo.address" class="row">
			<div class="col-xs-6">
				<button class="btn btn-default" ng-click="open_modal('address')">
					<img src="/static/theme/images/map_pin.jpg" class="img-circle thumb-xs">
					<span style="margin-left: 10px;">Add Map Location </span>
				</button>
			</div>
		</div>
		<div data-ng-if="photo.is_store === false && photo.address" class="row">
			<div class="col-xs-6 col-sm-6 detail-half">
				<h5>Photo Location</h5>
				<div class="map" data-map-address data-address="photo.address"></div>
			</div>
		</div>


		<div data-ng-if="photo.is_store === true && store.$resolved === true" class="row">
			<div class="col-xs-6 col-md-6">
				<h5 class="main-h5">Photo Location</h5>
				<div class="map" data-map-address data-address="store.address" data-title="store.name" data-img="store.photo"></div>
			</div>
			<div class="col-xs-6 col-md-6">
				<h5 class="main-h5">Photo's at the same location</h5>

				<div class="flex-row photo">

					<div class="flex-column photo col-1">
						<div class="flex-segment" data-ng-repeat="item in store.overview">
							<div class="flex-content">
								<img class="img-responsive" data-ng-src="{{ item.crop }}" alt="...">
							</div>
						</div>
					</div>

					<div class="flex-column photo col-2">
						<div class="flex-segment" data-ng-repeat="item in store.overview">
							<div class="flex-content">
								<img class="img-responsive" data-ng-src="{{ item.crop }}" alt="...">
							</div>
						</div>
					</div>

					<div class="flex-column photo col-3">
						<div class="flex-segment" data-ng-repeat="item in store.overview">
							<div class="flex-content">
								<img class="img-responsive" data-ng-src="{{ item.crop }}" alt="...">
							</div>
						</div>
					</div>

				</div><!-- wardrobe-group-row -->


				<div class="col-md-3 col-xs-3" style="height: 100px;" data-ng-repeat="item in store.empty_array">
					<div class="hbox">
						<div class="col v-middle">
							<div class="purple-50" style="max-width: 100px; height: 100%; position: relative; margin: 0 auto;"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<hr class="m-t-md m-b-sm">

		<div class="row">
			<div class="comments col-md-12 col-xs-12">
				<h4 class="comments-heading">Comments ({{ photo.comments.length }})</h4>
				<div class="comments-comment" data-ng-repeat="comment in photo.comments">
					<a class="avatar">
						<img data-ng-src="{{ comment.author_data.thumb }}" class="img-circle" alt="...">
					</a>
					<div class="comments-panel">
						<div class="comments-panel-heading">
							<a href="">{{ comment.author_data.username }}</a>
							<label data-ng-if="comment.author == photo.visitor" class="label bg-info m-l-xs">Owner</label>
						</div>
						<div class="comments-panel-body">
							<div>{{ comment.message }}</div>
							<span class="comments-date">{{ comment.create_date| date : 'longDate': '+0800' }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
				<h3 class="text-center related-photos">{{ 'PHOTO.DETAIL.SIMILAR' | translate }}</h3>
				<div data-ng-if="r" data-ng-include="PATH +'photo/templates/include/masonry_list.html'"></div>
			</div>
		</div>

	</div>
</div>


<div class="comment-add">
	<div class="container">
		<div class="row">
			<form data-ng-submit="comment()">
				<div class="col-xs-9">
					<input type="text" class="form-control input-lg" data-ng-model="new_message" placeholder="Type your comment ...">
				</div>
				<span class="col-xs-3">
					<button class="btn btn-lg" type="submit">{{ 'FORM.SUBMIT' | translate }}</button>
				</span>
			</form>
		</div>
	</div>
</div>

