<div class="modal-header" style="background: #fe8a71; color:white;">
    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span>
        <span class="sr-only">{{ 'NAVBAR.MODAL.CLOSE' | translate }}</span></button>
    <h3 class="modal-title">Choose your location</h3>
</div>
<div class="row">
<form class="form-horizontal" data-ng-submit="update_address()" id="promotion_form">
    <div class="modal-body">
        <div class="col-xs-6">
            <img data-ng-if="!photo.original && photo.photo" style="width: 200px;" data-ng-src="{{ photo.photo }}" alt="{{ photo.title }}">
            <img data-ng-if="photo.origin.photo" style="width: 200px;" data-ng-src="{{ photo.origin.photo }}" alt="{{ photo.origin.title }}">
        </div>
        <div class="col-xs-6">
        <h3 data-ng-if="photo.title" class="m-t-none d-p-title" style="display: inline">{{ photo.title }} </h3>
        <h3 data-ng-if="!photo.title && photo.article.title" class="m-t-none" style="display: inline">{{ photo.article.title }}</h3>
        <h3 data-ng-if="!photo.title && !photo.article.title && photo.origin.title" class="m-t-none" style="display: inline">{{ photo.origin.title }}</h3>
        <div><small>Uploaded to <b>{{ photo.group_title }}</b> wardrobe</small></div>
        </div>
    <div class="col-xs-12 clear">
        <hr>
        <h4>Type the location for this photo :</h4>
        <input type="text" ng-model="photo.address" uib-typeahead="address for address in getLocation($viewValue)"
       typeahead-no-results="noResults" class="form-control rounded">

        <div class="clear" style="height: 200px; margin: 15px 7px;" data-map-address data-address="photo.address"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary create-wr-btn" type="submit">Confirm</button>
    </div>
</form>
    </div>
</div>