<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ 'PHOTO.CLONE.HEADER' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                <img class="img-responsive img-center" data-ng-if="!photo.original" data-ng-src="{{ photo.thumb }}" alt="{{ photo.title }}">
                <img class="img-responsive img-center" data-ng-if="photo.original"
                     data-ng-src="{{ photo.origin.thumb }}" alt="{{ photo.origin.title }}">
            </p>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-12">
            <form data-ng-submit="clone()">
                <table class="table">
                    <tr>
                        <td>{{ 'PHOTO.FORM.TITLE' | translate }}:</td>
                        <td><input type="text" class="form-control" data-ng-model="r.title"></td>
                    </tr>
                    <tr>
                        <td>{{ 'PHOTO.FORM.DESCRIPTION' | translate }}:</td>
                        <td><textarea class="form-control" data-ng-model="r.description"></textarea></td>
                    </tr>
                    <tr>
                        <td>{{ 'PHOTO.FORM.GROUP' | translate }}:</td>
                        <td>
                            <select class="form-control"
                                data-ng-model="r.group"
                                data-ng-options="item.id as item.title for item in groups">
                                <option data-ng-if="!r.group" selected value="">{{ 'PHOTO.CLONE.CHOOSE_GROUP' | translate }}</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <ul class="text-center list-inline">
                    <li><button data-ng-disabled="wait" class="btn btn-primary btn-lg">{{ 'FORM.SUBMIT' | translate }}</button></li>
                    <li><a data-ng-href="#!/photo/{{ photo.id }}" class="btn btn-default btn-lg">{{ 'FORM.CANCEL' | translate }}</a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
