<div class="container">
    <div class="m-t-md"></div>
    <div class="pinGridWrapper" data-ng-if="r">
        <div class="pinGrid">
            <div class="pin animate" data-ng-repeat="photo in r.results">
                <a data-ng-href="#!/photo/{{ photo.id }}">
                    <img data-ng-src="{{ photo.thumb }}" alt="{{ photo.title }}" class="img-pin">
                </a>
                <p class="b-b b-light font-bold" data-ng-if="photo.title">{{ photo.title }}</p>
                <p class="b-b b-light" data-ng-if="photo.descr"> {{ photo.descr }}</p>
                <div class="b-b b-light m-b-xs wrapper-xs" style="padding-bottom: 20px;">
                    <a href="" class="pull-left thumb-xs avatar m-r">
                      <img data-ng-src="{{ photo.owner.thumb }}" alt="{{ photo.owner.username }}" class="img-circle">
                    </a>
                    <div class="clear">
                      <div><a href="">{{ photo.owner.username }}</a></div>
                    </div>
                </div>
                <ul class="list-inline text-muted text-center small">
                    <li><i class="fa fa-comments"></i> {{ photo.comment_count }}</li>
                    <li><a data-ng-click="like($index, photo.id)"><i class="fa fa-heart"></i> {{ photo.like_count }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" data-ng-if="enough">
        <div class="col-md-12 col-xs-12">
            <p class="text-center"><img class="inverted-logo" data-ng-src="{{ THEME }}images/logo_circle_48.png"></p>
        </div>
    </div>
</div>
