<div class="container" style="position: relative;">
    <div class="wrapper-md" data-ng-if="can_add">
        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                {{ 'GROUP.PHOTO_ADD.HEADER' | translate: group }}
            </div>
            <div class="panel-body">
                <form data-ng-submit="add()" name="form" id="photo_form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.TITLE' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="title"
                                   class="form-control rounded">
                            <p class="text-danger"
                               data-ng-repeat="e in error.title">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.DESCRIPTION' | translate }}</label>
                        <div class="col-sm-10">
                            <textarea name="description"
                                      data-ng-model="description"
                                      class="form-control"></textarea>
                            <p class="text-danger"
                               data-ng-repeat="e in error.description">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.FILE' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="file" name="photo" required aria-required="true">
                            <p class="text-danger"
                               data-ng-repeat="e in error.photo">{{ e }}</p>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button data-ng-disabled="wait" type="submit" class="btn btn-primary">{{ 'FORM.ADD' | translate }}
                            </button>
                            <a data-ng-href="#!/group/{{ group.id }}/photo"
                               class="btn btn-default">{{ 'FORM.CANCEL' | translate }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" data-ng-if="!can_add">
        <div class="col-md-12 col-xs-12">
            {{ NO_PERMISSION | translate }}
        </div>
    </div>
    <div class="row screensaver" data-ng-class="{'visible': wait}">
        <div class="col-md-12 col-xs-12 wrapper-lg">
            <div class="hbox">
                <div class="col v-middle text-center text-primary">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <p class="h4 wrapper-xs">{{ FORM.WAIT | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>