<div data-uib-dropdown data-keyboard-nav>
    <input type="text" id="commodity" data-ng-model="commodity" class="form-control" placeholder="{{ placeholder }}"
           data-ng-change="get_results(commodity)" data-ng-focus="is_visible = true" data-uib-dropdown-toggle
           data-ng-model-options="{ debounce: 750 }">
    <ul class="dropdown-menu" role="listbox" data-ng-show="results.length > 0 && is_visible" aria-labelledby="commodity">
        <li role="option" data-ng-mouseenter="set_active($index)"
            data-ng-class="{'active': active == $index }"
            data-ng-click="select_item($index)" data-ng-repeat="item in results">
            <a href tabindex="{{ $index }}">{{ item.title }}</a>
        </li>
    </ul>
</div>
