<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ 'PHOTO.EDIT.HEADER' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-12">
            <form data-ng-submit="update()">
                <table class="table">
                    <tr>
                        <td>{{ 'PHOTO.FORM.TITLE' | translate }}</td>
                        <td>
                            <input type="text" class="form-control" data-ng-model="photo.title">
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'PHOTO.FORM.DESCRIPTION' | translate }}</td>
                        <td>
                            <textarea class="form-control" data-ng-model="photo.description"></textarea>
                        </td>
                    </tr>
                </table>
                <ul class="text-center list-inline">
                    <li>
                        <button class="btn btn-primary btn-lg">{{ 'FORM.UPDATE' | translate }}</button>
                    </li>
                    <li><a data-ng-href="#!/photo/{{ photo.id }}" class="btn btn-default btn-lg">
                        {{ 'FORM.CANCEL' | translate }}</a></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 data-ng-if="photo.link_set.length > 0">{{ 'PHOTO.EDIT.LINKS' | translate }}</h5>
            <div class="media" data-ng-repeat="link in photo.link_set">
                <div class="media-left">
                    <img class="media-object" style="width: 50px;" data-ng-src="{{ link.data.crop }}" alt="{{ link.data.title }}">
                    <div class="text-center"><i data-ng-click="remove_link(link.id)" class="fa fa-times text-danger"></i></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ link.data.title }}</h4>
                    <ul class="list-inline">
                        <li>{{ 'COMMODITY.FORM.COLOR' | translate }}</li>
                        <li data-ng-repeat="item in link.data.colors track by item.id">
                            <span style="color: {{ item.html }}" class="fa-stack">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                </span>
                        </li>
                    </ul>

                    <p>{{ 'COMMODITY.FORM.KIND' | translate }}:
                        <span class="text-info">{{ link.data.kind.title }}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-center">{{ 'PHOTO.EDIT.ADD_LINK' | translate }}</h4>
        <div class="row m-md">
            <h4 data-ng-if="commodities.length > 0" class="text-center">{{ 'PHOTO.EDIT.NEW_LINKS' | translate }}</h4>
            <div class="col-md-3" data-ng-repeat="commodity in commodities">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" style="width: 50px;" data-ng-src="{{ commodity.crop }}" alt="{{ commodity.title }}">
                        <div class="text-center"><i data-ng-click="remove_candidate($index)" class="fa fa-times text-danger"></i></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ commodity.title }}</h4>
                        <ul class="list-inline">
                            <li>{{ 'COMMODITY.FORM.COLOR' | translate }}</li>
                            <li data-ng-repeat="item in commodity.colors track by item.id">
                                <span style="color: {{ item.html }}" class="fa-stack">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                </span>
                            </li>
                        </ul>

                        <p>{{ 'COMMODITY.FORM.KIND' | translate }}:
                            <span class="text-info">{{ commodity.kind.title }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p data-ng-if="commodities.length > 0" class="text-center">
                    <button data-ng-click="add_links()" class="btn btn-primary btn-lg">{{ 'FORM.SUBMIT' | translate }}
                    </button>
                </p>
            </div>
            <div class="col-md-12">
                <commodity-grid data-commodity="commodity" data-commodities="commodities" data-lim="lim" data-photo="photo.id" data-placeholder="'Start typing and choose from the list'">
                </commodity-grid>
            </div>
        </div>
    </div>
</div>
