<div class="container choose-a-wardrobe">
    <div class="wrapper-md t-middle">

        
            <div class="panel panel-default b-r-c">
               <!-- <div class="panel-heading font-bold">{{ 'GROUP.CREATE.HEADER' | translate }}</div>-->
                <div class="panel-heading font-bold create-wardrobe-title">Choose a wardrobe <a data-ng-href="#!/my_groups"><i class="fa fa-mail-reply" ></i></a></div>
                <div class="panel-body">
                 <a data-ng-href="#!/photo/{{ photo.id }}">
					<img data-ng-if="!photo.original && photo.thumb" data-ng-src="{{ photo.thumb }}" alt="{{ photo.title }}" class="img-pin">
					<img data-ng-if="photo.original && !photo.thumb" data-ng-src="{{ photo.origin.thumb }}" alt="{{ photo.title }}" class="img-pin">
					<div data-ng-if="!photo.original && !photo.thumb">
					<div class="text-center purple-50 r r-3x b b-light empty-cover-xs empty-cover-md"></div>
					</div>
				</a>  
				<p><i class="uploaded-to">uploaded to "x wardrobe"</i></p>
                    
                   
                    <h5>My Wardrobes:</h5>
					
					<div class="my-wardrobe-list">
					<div class="clear">	<div class="my-wardrobe-list-images"></div>	<div class="my-wardrobe-list-title">Wardrobe name 1</div>  </div>
					<div class="clear">	<div class="my-wardrobe-list-images"></div>	<div class="my-wardrobe-list-title">Wardrobe name 2</div>  </div>
					<div class="clear">	<div class="my-wardrobe-list-images"></div>	<div class="my-wardrobe-list-title">Wardrobe name 3</div>  </div>
					</div>
					
					<i class="see-all-wardrobes">See All Wardrobes(24)</i>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="create-new-wardrobe"><i class="fa fa-plus"></i>Create new wardrobe</div>
                   <!-- <div class="line line-dashed b-b line-lg pull-in"></div> -->
                  
                </div>
                
            </div>
        
    </div>



</div>