<div class="container create-wardrobe-bg">
    <div class="wrapper-md t-middle">

        <form data-ng-submit="add()" name="form" id="group_form">
            <div class="panel panel-default b-r-c">
               <!-- <div class="panel-heading font-bold">{{ 'GROUP.CREATE.HEADER' | translate }}</div>-->
                <div class="panel-heading font-bold create-wardrobe-title">Create new wardrobe <a data-ng-href="#!/my_groups"><i class="fa fa-mail-reply" ></i></a></div>
                <div class="panel-body">
                    <div class="form-group" style="display:none">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.MEMBERS' | translate }}</label>
                        <div class="col-sm-10">
                            <member-choice data-member="member"
                                           data-members="members"
                                           data-placeholder="'Enter username and choose from list'"></member-choice>
                            <div class="row">
                                <div class="col-sm-10"
                                     data-ng-if="members.length == 0">
                                    <h6>{{ 'GROUP.FORM.NO_MEMBERS' | translate }}</h6>
                                </div>
                                <div class="col-sm-10 col-xs-12">
                                    <div class="row"
                                         data-ng-repeat="person in members">
                                        <div class="hbox wrapper-sm">
                                            <div class="col v-middle thumb-md m-l">
                                                <div class="">
                                                    <img data-ng-src="{{ person.thumb }}" class="pull-left img-circle"
                                                         alt="{{ person.username }}">
                                                </div>
                                            </div>
                                            <div class="col v-middle">
                                                <h4 class="h4 font-bold wrapper-sm">
                                                    {{ person.username }}</h4>
                                            </div>
                                            <div class="col v-middle thumb-xs">
                                                <span class="text-muted text-center"
                                                      data-ng-click="remove_member($index)">
                                                    <i class="fa fa-times fa-2x"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.TITLE' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="title"
                                   data-ng-model="data.title"
                                   class="form-control rounded">
                            <p class="text-danger"
                               data-ng-repeat="e in error.title">{{ e }}</p>
                        </div>
                    </div>
                    <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.DESCRIPTION' | translate }}</label>
                        <div class="col-sm-10">
                            <textarea name="description"
                                      data-ng-model="data.description"
                                      class="form-control"></textarea>
                            <p class="text-danger"
                               data-ng-repeat="e in error.description">{{ e }}</p>
                        </div>
                    </div>
                   <!-- <div class="line line-dashed b-b line-lg pull-in"></div> -->
                   <!-- <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'GROUP.FORM.IS_PRIVATE' | translate }}</label>
                        <div class="col-sm-10">
                            <label class="i-switch bg-info m-t-xs m-r">
                                <input name="is_private" type="checkbox"
                                       data-ng-init="data.is_private = false"
                                       data-ng-model="data.is_private"
                                       value="{{ data.is_private }}">
                                <i></i>
                            </label>
                            <p class="text-danger"
                               data-ng-repeat="e in error.is_private">{{ e }}</p>
                        </div>
                    </div>-->
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            
							
                                <!--<a data-ng-href="#!/my_groups" class="btn btn-default">
                                    {{ 'FORM.CANCEL' | translate }}
                                </a>-->
                                <button type="submit" class="btn btn-primary create-wr-btn">{{ 'FORM.SUBMIT' | translate }}
                                </button>
								<br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>