<wx-self data-visitor="visitor" data-ng-if="bar == 'verbose'"></wx-self>

<div class="my-wardrobes-header">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<i class="ti-angle-left" aria-hidden="true" data-ng-click="back()" role="button" tabindex="0"></i>
				<div class="my-wardrobes-header-title">
					<a data-ng-href="#" class="m-r-sm ng-binding" href="#">{{ 'GROUP.MY.HEADER' | translate }} ({{ r.count }})</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="create-wardrobe-plus">
					<a data-ng-href="#!/group/create"><i class="ti-plus"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">  
	<div class="row">

		<div class="col-md-12" data-ng-repeat="group in r.results">
				<!-- header -->
				<div class="row wardrobe-group-header">
					<div class="col-xs-8 col-sm-8 col-md-8">
						<div class="wardrobe-group-title">
							{{ ( group.title ) ? group.title : 'Untitled' }}
							<br><span class="wardrobe-group-title-span">{{ 'GROUP.LIST.PHOTO_COUNT' | translate: group }}</span>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="wardrobe-group-dots" data-uib-dropdown style="position: relative;">
							<a href id="group-dropdown{{ group.id }}" data-uib-dropdown-toggle>
								<!-- <i class="fa fa-ellipsis-h"></i> -->
								<span class="icon-dot"></span>
								<span class="icon-dot"></span>
								<span class="icon-dot"></span>
							</a>
							<ul class="dropdown-menu" data-uib-dropdown-menu aria-labelledby="group-dropdown{{ group.id }}">
								<li><span><i class="fa fa-user-plus"></i> {{ 'GROUP.MY.INVITE' | translate }}</span></li>
								<li data-ng-click="remove($index)"><span><i class="fa fa-trash"></i> {{ 'GROUP.MY.DELETE' | translate }}</span></li>
								<li data-ng-if="group.is_private" data-ng-click="toggle_privacy($index)" class="fa fa-unlock"><span><i></i>{{ 'GROUP.MY.SET_PUBLIC' | translate }}</span></li>
								<li data-ng-if="!group.is_private" data-ng-click="toggle_privacy($index)" class="fa fa-lock"><span><i></i>{{ 'GROUP.MY.SET_PRIVATE' | translate }}</span></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- main -->
				<div class="row">
					<ul class="img-group list-unstyled">
						<li class="img-group-item" data-ng-repeat="item in group.overview">
							<img class="img-center img-responsive" data-ng-src="{{ item.crop }}" alt="...">
						</li>
					</ul>
				</div>

				<!-- footer -->
				<div class="row wardrobe-group-footer">
					<div class="col-xs-11 col-sm-11 col-lg-11 wardrobe-group-description">{{ group.description }}</div>
					<div class="col-xs-1 col-sm-1 col-lg-1 wardrobe-group-description-edit">
						<a data-ng-href="#!/group/{{ group.id }}/manage"><i class="icon-pencil"></i></a>
					</div>
				</div>

				<div class="row wardrobe-group-bottom">
					<div class="com-md-12">
						<p class="pull-left">{{ 'GROUP.LIST.MEMBER_COUNT' | translate: group }}</p>
					</div>
				</div>

		</div>
	</div>
	<div class="row" data-ng-if="enough">
		<div class="col-md-12 col-xs-12">
			<p class="text-center"><img class="inverted-logo" data-ng-src="{{ THEME }}images/logo_circle_48.png"></p>
		</div>
	</div>
</div>
