<nav class="navbar navbar-fixed-top purple-400" data-ng-class="{ 'navbar-shrink': change_class }">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed m-n"
                    data-ng-init="isCollapsed = false"
                    data-ng-click="isCollapsed = !isCollapsed"
                    aria-expanded="false">
                <span class="sr-only">{{ 'NAVBAR.TOGGLE_NAV' | translate }}</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#!/"><img style="min-height:40px;"
                                                    src="{{ THEME }}images/logo_circle_48.png"
                                                    alt="{{ brand_text }}"></a>
        </div>
        <!-- search form -->
        <div class="collapse pos-rlt navbar-collapse box-shadow" data-uib-collapse="!isCollapsed">
            <form class="navbar-form navbar-form-sm navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" data-ng-keypress="search($event)" data-ng-model="p.q"
                               class="form-control input-sm bg-light no-border rounded padder" >
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded" data-ng-click="search_c()">
                            <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav box-shadow" data-ng-if="visitor">
            <li><a data-ng-click="sync_profile()">
                <i class="fa fa-sign-out"></i> {{ 'NAVBAR.SYNC' | translate }}</a>
            </li>
            <li><a data-ng-click="logout()">
                    <i class="fa fa-sign-out"></i> {{ 'NAVBAR.LOGOUT' | translate }}
                </a>
            </li>

        </ul>
        </div>
        <!-- / search form -->
    </div>
</nav>