<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="text-center list-inline">
                <li><button class="btn btn-primary" data-ng-click="open_login()">{{ 'USER.BAR.LOGIN' | translate }}</button></li>
                <li><button class="btn btn-success" data-ng-click="open_reg()">{{ 'USER.BAR.REG' | translate }}</button></li>
                <li><button class="btn btn-warning" data-ng-click="open_reset()">{{ 'USER.BAR.RESET' | translate }}</button></li>
            </ul>
        </div>
    </div>
</div>