<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h1 class="text-center">{{ 'USER.PASSWORD.HEADER' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="change_password()">
                <div class="modal-body">
                    <p class="text-danger">{{ error.detail }}</p>
                    <table class="table">
                        <tr>
                            <td><input type="password" data-ng-model="data.password" class="form-control" data-ng-disabled="wait"
                                       placeholder="{{ 'USER.FORM.PASSWORD' | translate }}" required>
                                <p class="text-danger" data-ng-repeat="e in error.password">{{ e }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="password" data-ng-model="data.new_password" class="form-control" data-ng-disabled="wait"
                                       placeholder="{{ 'USER.FORM.NEW_PASSWORD' | translate }}" required>
                                <p class="text-danger" data-ng-repeat="e in error.new_password">{{ e }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="password" data-ng-model="data.confirm_password" class="form-control" data-ng-disabled="wait"
                                       placeholder="{{ 'USER.FORM.CONFIRM_PASSWORD' | translate }}" required>
                                <p class="text-danger" data-ng-repeat="e in error.confirm_password">{{ e }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" data-ng-disabled="wait"><i class="fa fa-check"></i>
                        {{ 'FORM.SUBMIT' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


