<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span>
        <span class="sr-only">{{ 'NAVBAR.MODAL.CLOSE' | translate }}</span></button>
    <h3 class="modal-title">{{ 'USER.BAR.REG' | translate }}</h3>
</div>
<form data-ng-if="step == 0" class="form-horizontal">
    <div class="modal-body">
        <h3>{{ 'USER.FORM.STEP' | translate }} # 1</h3>
        <p class="text-danger">{{ error.detail }}</p>
        <table class="table">
            <tr>
                <td><input type="text"  data-ng-model="phone" class="form-control" data-ng-disabled="wait"
                           placeholder="{{ 'USER.FORM.PHONE' | translate }}" required>
                    <p class="text-danger" data-ng-repeat="e in error.code">{{ e }}</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="send_code(phone)" type="button" data-ng-disabled="wait"><i class="fa fa-check"></i>
            {{ 'FORM.SUBMIT' | translate }}</button>
    </div>
</form>
<form data-ng-if="step == 1" class="form-horizontal">
    <div class="modal-body">
        <h3>{{ 'USER.FORM.STEP' | translate }} # 2</h3>
        <p class="text-danger">{{ error.detail }}</p>
        <table class="table">
            <tr>
                <td><input type="text"  data-ng-model="code" class="form-control" data-ng-disabled="wait"
                           placeholder="{{ 'USER.FORM.CODE' | translate }}" required>
                    <p class="text-danger" data-ng-repeat="e in error.code">{{ e }}</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="verify_code(code)" type="button" data-ng-disabled="wait"><i class="fa fa-check"></i>
            {{ 'FORM.SUBMIT' | translate }}</button>
    </div>
</form>
<form data-ng-if="step == 2" class="form-horizontal" id="reg_form" data-ng-submit="register()">
    <div class="modal-body">
        <h3>{{ 'USER.FORM.STEP' | translate }} # 3</h3>
        <p class="text-danger">{{ error.detail }}</p>
        <table class="table">
            <tr>
                <td><input type="text" name="username" class="form-control" data-ng-disabled="wait"
                           placeholder="{{ 'USER.FORM.USERNAME' | translate }}" required>
                    <p class="text-danger" data-ng-repeat="e in error.username">{{ e }}</p>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="email" class="form-control" data-ng-disabled="wait"
                           placeholder="{{ 'USER.FORM.EMAIL' | translate }}">
                    <p class="text-danger" data-ng-repeat="e in error.email">{{ e }}</p>
                </td>
            </tr>
            <tr>
                <td><input type="password" name="password" class="form-control" data-ng-disabled="wait"
                           placeholder="{{ 'USER.FORM.PASSWORD' | translate }}" required>
                    <p class="text-danger" data-ng-repeat="e in error.password">{{ e }}</p>
                </td>
            </tr>
            <tr>
                <td><input type="password" name="confirm_password" class="form-control" data-ng-disabled="wait"
                           placeholder="{{ 'USER.FORM.CONFIRM_PASSWORD' | translate }}" required>
                    <p class="text-danger" data-ng-repeat="e in error.confirm_password">{{ e }}</p>
                </td>
            </tr>
            <tr>
                <td><label>{{ 'USER.FORM.AVATAR' | translate }}
                    <input type="file" name="avatar" data-ng-disabled="wait">
                    </label>
                    <p class="text-danger" data-ng-repeat="e in error.avatar">{{ e }}</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-disabled="wait"><i class="fa fa-sign-in"></i>
            {{ 'FORM.SUBMIT' | translate }}</button>
    </div>
</form>
