<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h1 class="text-center">{{ 'USER.SET_PASSWORD.HEADER' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form data-ng-if="step == 0" class="form-horizontal">
                <div>
                    <h3>{{ 'USER.FORM.STEP' | translate }} # 1</h3>
                    <p class="text-danger">{{ error.detail }}</p>
                    <table class="table">
                        <tr>
                            <td><input type="text"  data-ng-model="phone" class="form-control" data-ng-disabled="wait"
                                       placeholder="{{ 'USER.FORM.PHONE' | translate }}" required>
                                <p class="text-danger" data-ng-repeat="e in error.code">{{ e }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-ng-click="send_code(phone)" type="button" data-ng-disabled="wait"><i class="fa fa-check"></i>
                        {{ 'FORM.SUBMIT' | translate }}</button>
                </div>
            </form>
            <form data-ng-if="step == 1" class="form-horizontal">
                <div>
                    <h3>{{ 'USER.FORM.STEP' | translate }} # 2</h3>
                    <p class="text-danger">{{ error.detail }}</p>
                    <table class="table">
                        <tr>
                            <td><input type="text"  data-ng-model="code" class="form-control" data-ng-disabled="wait"
                                       placeholder="{{ 'USER.FORM.CODE' | translate }}" required>
                                <p class="text-danger" data-ng-repeat="e in error.code">{{ e }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div  class="modal-footer">
                    <button class="btn btn-primary" data-ng-click="verify_code(code)" type="button" data-ng-disabled="wait"><i class="fa fa-check"></i>
                        {{ 'FORM.SUBMIT' | translate }}</button>
                </div>
            </form>
            <form data-ng-if="step == 2" class="form-horizontal" data-ng-submit="set_password()">
                <div>
                    <h3>{{ 'USER.FORM.STEP' | translate }} # 3</h3>
                    <p class="text-danger">{{ error.detail }}</p>
                    <table class="table">
                        <tr>
                            <td><input type="password" data-ng-model="data.password" class="form-control" data-ng-disabled="wait"
                                       placeholder="{{ 'USER.FORM.PASSWORD' | translate }}" required>
                                <p class="text-danger" data-ng-repeat="e in error.password">{{ e }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="password" data-ng-model="data.confirm_password" class="form-control" data-ng-disabled="wait"
                                       placeholder="{{ 'USER.FORM.CONFIRM_PASSWORD' | translate }}" required>
                                <p class="text-danger" data-ng-repeat="e in error.confirm_password">{{ e }}</p>
                            </td>
                        </tr>
                    </table>
                    <div  class="modal-footer">
                        <button class="btn btn-primary" type="submit" data-ng-disabled="wait"><i class="fa fa-check"></i>
                            {{ 'FORM.SUBMIT' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


