<div class="commodity" data-ng-if="commodity">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="header-left">
                        <i class="icon-ti ti-angle-left" aria-hidden="true" data-ng-click="back()" role="button" tabindex="0"></i>
                        <div class="header-title">
                            <h2 class="header-title-h2">{{ 'COMMODITY.DETAIL.HEADER' | translate }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="header-icons">
                        <span><a data-ng-href="#!/photo/{{ photo.id }}/share/"><i class="fa fa-floppy-o"></i></a></span>
                        <span><i class="icon-share"></i></span>
                        <span data-ng-click="read_article(photo.article.pk)" data-ng-if="photo.article" class="btn btn-default btn-sm" style="margin-left:10px; margin-top:-3px;"><b>Read it</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="slides" class="slides">
        <div class="carousel">
            <ul rn-carousel rn-carousel-controls rn-carousel-index="carousel.index" class="image text-center" style="height: {{ height / 2.3 }}px; width: {{ width - 100 }}px;">
                <li ng-repeat="slide in slides track by slide.id">
                    <div class="slide-div">
                        <img class="" data-ng-src="{{ slide.cover }}">
                    </div>

                </li>
            </ul>
        </div>
        <div rn-carousel-indicators slides="slides" rn-carousel-index="carousel.index" class="text-center"></div>
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="main-h1">{{ commodity.name }}</h1>
                    <h2 class="main-h2">{{ commodity.season_text }}&nbsp; {{ commodity.year }}</h2>
                    <p class="main-p" data-ng-if="commodity.description">{{ commodity.description }}</p>

                    <h3 class="main-h3">{{ 'COMMODITY.FORM.COLORS' | translate }}:</h3>
                    <ul class="list-inline list-circle">
                        <li data-ng-repeat="item in commodity.colors track by item.id">
                            <span style="color: {{ item.html }}" class="fa-stack fa-stack-size">
                              <i class="fa fa-circle"></i>
                            </span>
                        </li>
                    </ul>

                    <h3 class="main-h3">{{ 'COMMODITY.FORM.SIZES' | translate }}:</h3>
                    <ul class="list-inline list-circle">
                        <li data-ng-repeat="item in commodity.sizes track by item.id">
                            <span class="list-circle-size">{{ item.title }}</span>
                        </li>
                    </ul>
                    <span class="main-span">List of nearby stores having Lancel Brand</span>
                    <h3 class="main-h3">{{ 'COMMODITY.FORM.BRAND' | translate }}: {{ commodity.brand.title }}</h3>
                    <h3 class="main-h3">{{ 'COMMODITY.FORM.CATEGORY' | translate }}: {{ commodity.kind.category.title }}</h3>
                    <h3 class="main-h3">{{ 'COMMODITY.FORM.KIND' | translate }}: {{ commodity.kind.title }}</h3>
                    <button class="btn btn-default" ng-click="open_modal('nearby_stores')">Nearby Stores</button>
                </div>
            </div>
        </div>
    </div>
</div>
