<div class="container">
    <div class="wrapper-md">
        <div class="col-md-12 col-xs-12 m-t-sm">
            <ul class="list-inline text-center">
                <li>
                    <button class="btn btn-info" data-ng-click="back()"><i class="fa fa-arrow-left fa-2x"></i></button>
                </li>
                <li><a class="btn btn-warning" data-ng-class="{'disabled': !is_owner}" data-ng-href="#!/photo/{{ photo.id }}/edit/"><i
                        class="fa fa-edit fa-2x"></i></a></li>
                <li>
                    <button class="btn btn-danger" data-ng-disabled="!is_owner" data-ng-click="remove()"><i class="fa fa-trash-o fa-2x"></i></button>
                </li>
                <li>
                    <a class="btn btn-success" data-ng-href="#!/photo/{{ photo.id }}/share/">
                        <i class="fa fa-share-alt fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel">
            <div>
                <img data-ng-if="!photo.original && photo.photo" class="img-responsive img-center" data-ng-src="{{ photo.photo }}" alt="{{ photo.title }}">
                <img data-ng-if="photo.origin.photo" class="img-responsive img-center" data-ng-src="{{ photo.origin.photo }}" alt="{{ photo.origin.title }}">
            </div>
            <div class="wrapper-lg">
                <h4 data-ng-if="photo.title" class="m-t-none">{{ photo.title }}</h4>
                <h4 data-ng-if="!photo.title && photo.origin.title" class="m-t-none">{{ photo.origin.title }}</h4>
                <div data-ng-if="photo.description">
                    <p>{{ photo.description }}</p>
                </div>
                <div data-ng-if="!photo.description && photo.origin.description">
                    <p>{{ photo.origin.description }}</p>
                </div>
                <div class="wrapper-xs" data-ng-if="photo.original">
                    <a data-ng-href="#!/photo/{{ photo.origin.id }}/">Original is here</a>
                </div>
                <div class="line line-lg b-b b-light"></div>
                <ul class="text-muted list-inline">
                    <li>
                        <i class="pull-left thumb-xxs avatar">
                            <img data-ng-src="{{ photo.owner.thumb }}"
                                 class="img-circle" alt="{{ photo.owner.username }}">
                        </i>
                        <a class="m-r-sm"> {{ photo.owner.username }}</a>
                    </li>
                    <li>
                        <a href="" class="m-l-sm">
                            <i class="fa fa-comment-o text-muted"></i> {{ photo.comments.length }}</a>
                    </li>
                    <li>
                        <a data-ng-click="like_photo()">
                            <i class="fa fa-heart"></i> {{ photo.like_count }}</a>
                    </li>
                    <li><i class="fa fa-share-alt"></i> {{ photo.clone_count }}</li>
                </ul>
                <div class="row m-t-md">
                    <h4 class="text-center" data-ng-if="photo.link_set.length > 0">{{ 'PHOTO.EDIT.LINKS' | translate }}</h4>
                    <div class="col-md-4" data-ng-repeat="link in photo.link_set">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" style="width: 50px;" data-ng-src="{{ link.data.crop }}" alt="{{ link.data.title }}">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a data-ng-href="#!/commodities/{{ link.commodity }}/">{{ link.data.title }}</a></h4>
                                <ul class="list-inline">
                                    <li>{{ 'COMMODITY.FORM.COLOR' | translate }}</li>
                                    <li data-ng-repeat="item in link.data.colors track by item.id">
                                        <span style="border: 3px solid {{ item.html }}">
                                            {{ item.title }}</span>
                                    </li>
                                </ul>
                                <p>{{ 'COMMODITY.FORM.KIND' | translate }}:
                                    <span class="text-info">{{ link.data.kind.title }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-if="photo.is_store === true && store.$resolved === true" class="row panel wrapper-md m-t-sm">
        <div class="wrapper-sm">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div style="height: 300px;" data-map-address data-address="store.address" data-title="store.name" data-img="store.crop"></div>
            </div>
            <div class="col-xs-12 col-sm-12 visible-xs visible-sm m-b-sm"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row m-b-sm m-n img-wrap-xs img-wrap-md">
                    <div class="col-md-3 col-xs-3" data-ng-repeat="item in store.overview">
                        <div class="hbox">
                            <div class="col v-middle">
                                <img class="img-center img-responsive" data-ng-src="{{ item.crop }}" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3" style="height: 100px;" data-ng-repeat="item in store.empty_array">
                        <div class="hbox">
                            <div class="col v-middle">
                                <div class="purple-50" style="max-width: 100px; height: 100%; position: relative; margin: 0 auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .comment-list -->
    <div class="row">
        <div class="m-b b-l m-l-xs streamline col-md-12 col-xs-12">
            <div class="wrapper-xs" data-ng-repeat="comment in photo.comments">
                <a class="pull-left thumb-sm avatar m-l-n-md">
                    <img data-ng-src="{{ comment.author_data.thumb }}" class="img-circle" alt="...">
                </a>
                <div class="m-l-lg panel b-a">
                    <div class="panel-heading pos-rlt b-b b-light">
                        <span class="arrow left"></span>
                        <a href=""><strong>{{ comment.author_data.username
                            }}</strong></a>
                        <label data-ng-if="comment.author == photo.visitor" class="label bg-info m-l-xs">Owner</label>
                        <span class="text-muted m-l-sm pull-right">
                            <i class="fa fa-clock-o"></i>
                            {{ comment.create_date| date : 'longDate': '+0800' }}
                        </span>
                    </div>
                    <div class="panel-body">
                        <div>{{ comment.message }}</div>
                        <div class="m-t-sm">
                            <a ui-toggle-class data-ng-click="like_comment($index, comment.id)" class="btn btn-default btn-xs active">
                                <i class="fa fa-star-o text-muted text"></i>
                                <i class="fa fa-star text-danger text-active"></i> {{ 'PHOTO.DETAIL.LIKE' | translate }} {{ comment.like }}
                            </a>
                            <a href class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply text-muted"></i> {{ 'PHOTO.DETAIL.REPLY' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="clearfix m-b-lg">
                <a class="pull-left thumb-sm avatar">
                    <img data-ng-src="{{ visitor.thumb }}" alt class="img-circle">
                </a>
                <div class="m-l-xxl">
                    <form class="m-b-none" data-ng-submit="comment()">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" data-ng-model="new_message" placeholder="Input your comment here">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn-lg"
                                    type="submit">{{ 'FORM.SUBMIT' | translate }}</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center">{{ 'PHOTO.DETAIL.SIMILAR' | translate }}</h3>
    <div data-ng-if="r" data-ng-include="PATH +'photo/templates/include/masonry_list.html'"></div>
</div>
