<div class="container photo-detail" style="padding:0px;">
    <div class="wrapper-md" style="padding:0px;">

        <div class="panel" style="padding:15px;">
            <div class="detail-owner-section">
                <i class="fa fa-angle-left" aria-hidden="true" data-ng-click="back()"></i>
                <!-- -->
                <i class="pull-left thumb-xxs avatar">
                         <a data-ng-href="#!/group/?owner={{ photo.owner.pk }}">
						  <img data-ng-src="{{ photo.owner.thumb }}"
                                 alt="{{ photo.owner.username }}" data-ng-class="{'img-circle': !photo.owner.is_store}">
						 </a>
                 </i>
                <div class="p-d-o-username">
                    <a data-ng-href="#!/group/?owner={{ photo.owner.pk }}" class="m-r-sm owner-name"> {{ photo.owner.username }}</a>
                    <i class="uploaded-detail"><a data-ng-href="#!/group/{{ photo.group }}/photo">{{ photo.group_title }}</a></i>
                </div>
                <div class="user-follow-status">
                    <span data-ng-if="!photo.owner_followed" data-ng-click="follow_user_main(photo.owner.pk, $index)"><i class="icon-user-follow"></i></span>
                    <span data-ng-if="photo.owner_followed" data-ng-click="unfollow_user_main(photo.owner.pk, $index)"><i class="icon-user-following"></i></span>
                </div>
            </div>
            <div class="wrapper-lg">
                <img data-ng-if="!photo.original && photo.photo" class="img-responsive img-center" data-ng-src="{{ photo.photo }}" alt="{{ photo.title }}">
                <img data-ng-if="photo.origin.photo" class="img-responsive img-center" data-ng-src="{{ photo.origin.photo }}" alt="{{ photo.origin.title }}">
                <div class="clear" style="border-bottom: 1px solid #e6e5e5;">
                    <div data-ng-if="photo.original" id="photo-origin-owner-username">
                        <i class="pull-left thumb-xxs avatar">
                        <a data-ng-href="#!/group/?owner={{ photo.origin.owner.pk }}">
                        <img data-ng-src="{{ photo.origin.owner.thumb }}"
                                     data-ng-class="{'img-circle': !photo.origin.owner.is_store}" alt="{{ photo.origin.owner.username }}">
                        </a>
                        </i>
                        <div class="p-d-o-username">
                            <a data-ng-href="#!/group/?owner={{ photo.origin.owner.pk }}" class="m-r-sm owner-name"> {{ photo.origin.owner.username }}</a>
                            <a data-ng-href="#!/group/{{ photo.origin.group.id }}/photo"><i class="uploaded-detail">{{ photo.origin.group.title }}</i></a>
                        </div>
                    </div>
                    <div data-ng-if="!photo.original" id="photo-origin-owner-username">
                        <i class="pull-left thumb-xxs avatar">
                        <a data-ng-href="#!/group/?owner={{ photo.owner.pk }}">
                        <img data-ng-src="{{ photo.owner.thumb }}"
                                     data-ng-class="{'img-circle': !photo.owner.is_store}" alt="{{ photo.owner.username }}">
                        </a>
                        </i>
                        <div class="p-d-o-username">
                            <a data-ng-href="#!/group/?owner={{ photo.owner.pk }}" class="m-r-sm owner-name"> {{ photo.owner.username }}</a>
                            <a data-ng-href="#!/group/{{ photo.group }}/photo"><i class="uploaded-detail">{{ photo.group_title }}</i></a>
                        </div>
                    </div>
                    <div class="user-follow-status">
                        <span><a data-ng-href="#!/photo/{{ photo.id }}/share/"><i class="fa fa-floppy-o"></i></a></span>
                        <span data-ng-if="photo.is_liked" data-ng-click="dislike_photo()"><i class="glyphicon glyphicon-heart"></i></span>
                        <span data-ng-if="!photo.is_liked" data-ng-click="like_photo()"><i class="glyphicon glyphicon-heart" style="color: gray;"></i></span>
                        <span><i class="icon-share"></i></span>
                        <span data-ng-click="read_article(photo.article.pk)" data-ng-if="photo.article" class="btn btn-default btn-sm" style="margin-left:10px; margin-top:-3px;"><b>Read it</b></span>
                    </div>
                </div>

                <div class="clear"></div>
                <div class="photo-detail-heading">
                    <div class="photo-detail-title">
                        <h4 data-ng-if="photo.title" class="m-t-none d-p-title">{{ photo.title }} </h4>
                        <h4 data-ng-if="!photo.title && photo.article.title" class="m-t-none">{{ photo.article.title }}</h4>
                        <h4 data-ng-if="!photo.title && !photo.article.title && photo.origin.title" class="m-t-none">{{ photo.origin.title }}</h4>

                        <div class="clear"></div>
                        <div data-ng-if="photo.description">
                            <p class="photo-detail-description">{{ photo.description }}</p>
                        </div>
                        <div data-ng-if="!photo.description && photo.article.descr">
                            <p class="photo-detail-description" ng-bind-html="photo.article.descr"></p>
                        </div>
                        <div data-ng-if="!photo.description && !photo.article.descr && photo.origin.description">
                            <p class="photo-detail-description">{{ photo.origin.description }}</p>
                        </div>
                    </div>

                    <a data-ng-if="is_owner" data-ng-href="#!/photo/{{ photo.id }}/edit/"><i class="icon-pencil"></i></a>
                </div>

                <div class="line line-lg b-b b-light" style="margin:0px;padding:0px;"></div>

                <div class="row m-t-md">
                    <h4 class="text-center" data-ng-if="photo.link_set.length > 0">{{ 'PHOTO.EDIT.LINKS' | translate }}</h4>
                    <div class="col-md-4" data-ng-repeat="link in photo.link_set">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" style="width: 50px;" data-ng-src="{{ link.data.crop }}" alt="{{ link.data.title }}">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a data-ng-href="#!/commodities/{{ link.commodity }}/">{{ link.data.title }}</a></h4>
                                <ul class="list-inline">
                                    <li>{{ 'COMMODITY.FORM.COLOR' | translate }}</li>
                                    <li data-ng-repeat="item in link.data.colors track by item.id">
                                        <span style="border: 3px solid {{ item.html }}">
                                            {{ item.title }}</span>
                                    </li>
                                </ul>
                                <p>{{ 'COMMODITY.FORM.KIND' | translate }}:
                                    <span class="text-info">{{ link.data.kind.title }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-if="photo.is_store === false && !photo.address" class="row">
        <div class="col-xs-6">
            <button class="btn btn-default" ng-click="open_modal('address')">
                <img src="/static/theme/images/map_pin.jpg" class="img-circle thumb-xs">
                <span style="margin-left: 10px;">Add Map Location </span>
            </button>
        </div>
    </div>
    <div data-ng-if="photo.is_store === false && photo.address" class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 detail-half">
            <h5>Photo Location</h5>
            <div style="height: 150px;" data-map-address data-address="photo.address"></div>
        </div>
    </div>
    <div data-ng-if="photo.is_store === true && store.$resolved === true" class="row panel wrapper-md m-t-sm">
        <div class="wrapper-sm">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 detail-half">
                <h5>Photo Location</h5>
                <div style="height: 150px;" data-map-address data-address="store.address" data-title="store.name" data-img="store.photo"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 detail-half">
                <h5>Photo's at the same location</h5>
                <div class="row m-b-sm m-n img-wrap-xs img-wrap-md">
                    <div class="col-md-3 col-xs-3" data-ng-repeat="item in store.overview">
                        <div class="hbox">
                            <div class="col v-middle">
                                <img class="img-center img-responsive" data-ng-src="{{ item.crop }}" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3" style="height: 100px;" data-ng-repeat="item in store.empty_array">
                        <div class="hbox">
                            <div class="col v-middle">
                                <div class="purple-50" style="max-width: 100px; height: 100%; position: relative; margin: 0 auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="m-b  m-l-xs streamline col-md-12 col-xs-12">
            <h4 class="comment-heading">Comments ({{ photo.comments.length }})</h4>
            <div class="wrapper-xs" data-ng-repeat="comment in photo.comments">
                <a class="pull-left thumb-sm avatar">
                    <img data-ng-src="{{ comment.author_data.thumb }}" class="img-circle" alt="...">
                </a>
                <div class="m-l-lg panel b-a">
                    <div class="panel-heading pos-rlt b-b b-light">
                        <span class="arrow left"></span>
                        <a href=""><strong>{{ comment.author_data.username }}</strong></a>
                        <label data-ng-if="comment.author == photo.visitor" class="label bg-info m-l-xs">Owner</label>

                    </div>
                    <div class="panel-body">
                        <div>{{ comment.message }}</div>
                        <span class="text-muted  pull-left">

                            {{ comment.create_date| date : 'longDate': '+0800' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line line-lg b-b b-light" style="margin-top:0px;padding:0px;"></div>

    <h3 class="text-center related-photos">{{ 'PHOTO.DETAIL.SIMILAR' | translate }}</h3>
    <div data-ng-if="r" data-ng-include="PATH +'photo/templates/include/masonry_list.html'"></div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="clearfix m-b-lg">
                <div class="m-l-xxl">
                    <form class="m-b-none" data-ng-submit="comment()">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" data-ng-model="new_message" placeholder="Type your comment ...">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn-lg"
                                    type="submit">{{ 'FORM.SUBMIT' | translate }}</button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
